<% if @version.present? && ('versions' == params[:controller]) && ['new', 'edit'].include?(params[:action]) %>
  <p style='display: none;'>
    <%= label :version, :start_date %>
    <%= text_field :version, :start_date, size: 10, value: @version.start_date %>
    <%= calendar_for('version_start_date') %>
  </p>
<% end %>
